venv/
.pulumi/backups/
.pulumi/history/
.pulumi/locks/
.pulumi/plugins/
.pulumi/workspaces/
.pulumi/.cachedVersionInfo
.pulumi/bin/
.pulumi/credentials.json
.pulumi/meta.yaml
.pulumi/meta.yaml.attrs
__pycache__/
*.pyc
.DS_Store
*.log
kubeconfig.yaml
stack-backup.json
